<% if @prescriptions.errors.any? %>
  <% @prescriptions.errors.messages.each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<h1>Add a Prescription to <%= @patients.first_name %> <%= @patients.last_name %></h1>

<%= form_for [@patients, @prescriptions]  do |f| %>
  <%= select_tag :medication_id, options_from_collection_for_select(@medications, "id", "name") %>
  <%= f.label :dosage %>
  <%= f.text_field :dosage %>
  <%= f.label :schedule %>
  <%= f.text_field :schedule %>
  <%= f.label :starts_on %>
  <%= f.date_select :starts_on, :order => [:month, :day, :year] %>
  <%= f.label :ends_on %>
  <%= f.date_select :ends_on, :order => [:month, :day, :year] %>
  <%= f.submit "Create Prescription" %>

<% end %>
